<ba-studisu-inputtext-autocomplete
        [(model)]="ort"
        [disabled]="disabled"
        placeholder="{{placeholderText}}"
        placeholderDisabled="{{placeholderDisabledText}}"
        name="ortsuche"
        titleText="Ort"
        ariaLabel="Ortsauswahl"
        id="Suche-Ort"
        [suggestionOracle]="inputObservable"
        styleClass="ba-icon studisu-suche-ort ba-icon-location-before"
        (onSubmit)="onSubmit($event)">
</ba-studisu-inputtext-autocomplete>

<div class="print-only ort-header" aria-hidden="true">
  <h3>Wo?</h3>
  <span>Ort</span>
</div>
<ba-studisu-tagcloud
    srListTitle="Gew&auml;hlte Orte"
    [(tagcloudListe)]="selektierteOrte"
    (tagcloudListeRemove)="removeOrt($event)"
    removeTemplate="%name% zur&uuml;cksetzen">
</ba-studisu-tagcloud>
