article.studisu-stoeberwelten > * > svg, article.studisu-stoeberwelten > svg{
    height: 4.0rem;
    width: 4.0rem;
    margin: 0 auto 0.8rem auto;
    stroke: $color-blue-darkest;
    stroke-width: .1px;
    fill: $color-blue-darkest;
}

article.studisu-stoeberwelten > a:hover > *{
    stroke: $color-red-dark;
    fill: $color-red-dark;
}

article.studisu-stoeberwelten.studisu-disabled > *{
    color: $color-grey-dark !important;
    stroke: $color-grey-dark;
}