<div class="row">
  <div class="col-xl-1 col-sm-2">
    <select id="monatDropdown" [(ngModel)]="selectedValueMonat">
      <option (click)="chNameDropdownMonat($event)" *ngFor="let monat of monate" [ngValue]="monat.id">{{monat.monat}}</option>
    </select>
  </div>
  <div class="col-xl-1 col-sm-2">
    <select id="jahrDropdown" [(ngModel)]="selectedValueJahr">
      <option (click)="chNameDropdownJahr($event)" [ngValue]="year" *ngFor="let year of years">{{year}}</option>
    </select>
  </div>
</div>

  <div class="row">
  <div class="col-xl-1 col-sm-2">
    <button class="btn btn-primary" (click)="loadData()">Wechseln</button>
  </div>
  </div>



<app-tabelle-monat [jahr]="selectedValueJahr" [monat]="selectedValueMonat"></app-tabelle-monat>