<div id="collapsable"
  class="studisu-collapsable-container {{class}}"
  [ngClass]="{'disclosed': disclosed, 'collapsed': !disclosed}"
  [ngStyle]="{ 'height': this.currentHeight, 'visibility': this.currentVisibility }"
  #collapsableParent>
  <div #collapsableArea>
    <ng-content></ng-content>
  </div>
</div>
<a href="javascript:void(0)" (click)="toggle()"
    class="studisu-collapsable-link ba-icon"
    [ngClass]="{'disclosed': disclosed, 'collapsed': !disclosed}">
  {{disclosed ? labelDisclosed : labelCollapsed}}
</a>
