@import "../../../../node_modules/bapf-pattern-library/source/sass/core";

.nav-back {

  @include phablet-max() {
    display: block;
    position: absolute;
    left: 0;
    top: -10px;
  }

  li {
    & + li {
      margin-left: 0;
      &::before { // Icon Pfeil
        content: "";
        margin-right: 0;
      }
    }
  }

  a {
    color: $color-link-secondary;

    &:hover {
      color: $color-link-secondary-hover;
    }

    i:before {
      @include icon('chevron-left', 9px);
      line-height: 10px;
      margin-right: 15px;
      text-decoration: none;
    }
  }
}
