@include tablet-max() {
  .studisu-facetten-mobile {
    overflow-x: scroll;
    border-top: 1px solid $color-grey-darker;
    border-bottom: 1px solid $color-grey-darker;

    margin: 0 -20px;
    max-width: calc(100% + 40px);
    width: calc(100% + 40px);
    @include phablet-max() {
      margin: -10px;
      max-width: calc(100% + 20px);
      width: calc(100% + 20px);
      margin-top: 20px;
    }

    .ba-mobile-facets {
      background-color: $color-white;
      display: flex;
      align-items: center;
      box-sizing: content-box;
      overflow: visible;
      visibility: visible;
      &:before {
        margin-left: 10px;
      }

      & > * {
        display: inline;
        float: left;
      }

      .ba-filterfacet {
        box-shadow: none;
        padding: 0;
        margin: 1px 0;
        min-width: 0;
      }

      .ba-filterfacet-top-headline {
        background-color: $color-white;
        justify-content: space-between;
        cursor: pointer;
        white-space: nowrap;
        font-size: 1rem;
        position: relative;
        max-width: none;
        border-bottom: 0;
        color: $color-blue-dark;
        margin: 0;
        padding: 0;
        &.active {
          i:before, i:after {
            content: "";
            display: inline-block;
            width: 0;
            height: 0;
            position: absolute;
            bottom: 0;
            margin-bottom: -2px;
            left: 50%;
            border-style: solid;
          }
          i:before {
            border-width: 0 11px 11px;
            border-color: transparent transparent $color-grey-darker;
            margin-left: -11px;
            z-index: 2;
          }
          i:after {
            border-width: 0 10px 10px;
            border-color: transparent transparent $color-white;
            margin-left: -10px;
            z-index: 3;
          }
        }
        span:after {
          font-size: 1.5ex;
          margin-left: .66667rem;
        }
        .ba-filterfacet-top-headline-link {
          height: 3.66667rem;
          padding: 0 1.73333rem;
          display: flex;
          align-items: center;
          color: $color-grey-darker;
        }
      }
      .studisu-checkbox input[type="checkbox"] + label {
        margin-bottom: 0;
      }
    }

    .ba-filterfacet-content {
      position: absolute;
      left: -10px;
      width: 100vw;
      z-index: 2;
      background-color: $color-white;
      color: $color-blue-dark;
      border-color: $color-grey-darker;
      border-top: 1px solid;
      border-bottom: 1px solid;
      @include phablet-max() {
        left: 0;
      }
    }

  }

  #GewaehlterUmkreisMobile {
    margin: 20px 0 30px 0;
  }

}

.studisu-facetten-desktop, .studisu-facetten-mobile {
  // Legende der Filterfacette braucht spezielle Formatierung
  legend.ba-filterfacet-top-headline {
    max-width: 15.2rem;
    font-size: 1.4rem;
    padding: 3px 0 0 50px;
    margin-bottom: 20px;
  }

  // Ueberschreiben der Fieldsets im Facettenfilter
  fieldset {
    padding: 0;
    border: none;
    @include desktop-min {
      text-align: left;
    }

    @include tablet-min {
      margin-bottom: 0;
    }
  }
}

.studisu-facetten-desktop {
  // Abstand der Checkboxen in den Facettenfiltern für "Fit für das Studium"
  // brauchen Sonderhöhe.
  .ba-filterfacet-ffstudium {
    .ba-input-checkbox {
      .studisu-checkbox {
        margin-bottom: 8px;
      }
      &:last-child {
        .studisu-checkbox {
          margin-bottom: 0;
        }
      }
    }
  }

  // Abstand der Checkboxen in den Facettenfiltern
  .ba-input-checkbox {
    .studisu-checkbox {
      margin-bottom: 12px;
    }
    &:last-child {
      .studisu-checkbox {
        margin-bottom: 0;
      }
    }
  }
}
