<div *ngIf="getAdditionalResultNum() > 0" class="__reset_all_facettes">
  <div>
    <div class="ba-studisu-content">
      <span>{{getAdditionalResultNum()}}&nbsp;</span>
      <span [ngPlural]="getAdditionalResultNum()">
        <ng-template ngPluralCase="=1">Ergebnis durch Filter unterdrückt.</ng-template>
        <ng-template ngPluralCase="other">Ergebnisse durch Filter unterdrückt.</ng-template>
      </span>
    </div>
    <a class="ba-studisu-resetbutton" (click)="resetFilters()">
      <i class="ba-icon ba-icon-close"></i>Filter löschen
    </a>
    <div style="clear: both;"></div>
  </div>
</div>
