<div class="row">
  <div class="col-md-12">
    <h1>InfoSysBuB STUDISU Status Page</h1>
  </div>
</div>
<div class="row clearfix">
  <div class="col-md-12 column">
    <div [ngClass]="{'panel': true, 'panel-success': (backendUp && backendHealthy), 'panel-warning' : !(backendUp && backendHealthy)}">
      <div class="panel-heading">
        <h3 class="panel-title">
          <div class="row">
            <div class="col-md-8">{{(backendUp && backendHealthy) ? '' : 'NOT'}} All Systems Operational</div>
            <div class="col-md-4 text-right">@project.artifactId@, @project.version@</div>
          </div>
        </h3>
      </div>
    </div>

    <ba-tabs>
      <ba-tab tabTitle="Services">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <div class="list-group">

              <div class="list-group-item">
                <h4 class="list-group-item-heading">
                  OAG (required to access backend)
                </h4>
                <p class="list-group-item-text">
                  <span>NOT tested for now</span>
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">
                  BACKEND (/REST API) RUNNING
                </h4>
                <p class="list-group-item-text">
                  <span *ngIf="!backendUp"><span class="label label-danger">Not Operational</span></span>
                  <span *ngIf="backendUp"><span class="label label-success">Operational</span></span>
                </p>
              </div>
              <div class="list-group-item">
                <h4 class="list-group-item-heading">
                  BACKEND HEALTHY (including dependent services)
                </h4>
                <p class="list-group-item-text">
                  <span *ngIf="!backendHealthy"><span class="label label-danger">Not Operational</span></span>
                  <span *ngIf="backendHealthy"><span class="label label-success">Operational</span></span>
                </p>
              </div>
              <div *ngIf="backendDatenstand" class="list-group-item">
                <h4 class="list-group-item-heading">
                  BACKEND Datenstand
                </h4>
                <p class="list-group-item-text">
                  <span>{{backendDatenstand}}</span>
                </p>
              </div>
              <div *ngIf="backendVersion" class="list-group-item">
                <h4 class="list-group-item-heading">
                  BACKEND Version
                </h4>
                <p class="list-group-item-text">
                  <span>{{backendVersion}}</span>
                </p>
              </div>

            </div>
          </div>
        </div>
      </ba-tab>
      <ba-tab tabTitle="Properties">
        <div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let confKey of conf.keys();">
                  <td>{{confKey}}</td>
                  <td>{{conf[confKey]}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </ba-tab>
    </ba-tabs>

  </div>
</div>
