ba-studisu-header.__studienfeldinfo_ {
  p {
    font-size: 2rem;
  }
}

.studisu-content-studienfeldinfo {
  margin-top: 10px;
  margin-bottom: 10px;
  .btn-tertiary:active:not(:disabled),
  .btn-tertiary:visited:not(:disabled),
  .ba-btn-tertiary:active:not(:disabled),
  .ba-btn-tertiary:visited:not(:disabled),
  .btn-tertiary,
  .ba-btn-tertiary {
    border-color: $color-blue-darkest;
    background-color: $color-white;
    color: $color-blue-darkest;
    text-decoration: none;
    &:hover {
      background-color: $color-blue-darkest;
      color: $color-white;
    }
  }
  a span {
    color: $color-red;
  }
  a:hover span {
    color: lighten($color-red, 20%);
  }
  .panel-group {
    margin-bottom: 0;
  }
  .studisu-checkbox {
    position: absolute;
    top: calc(50% - #{$checkbox-size / 2});
    display: block;
    margin-left: 18px;
  }
  .row.__header_ {
    background-color: $color-white;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: -20px -10px 0 -10px;
    #content {
      @include tablet-max() {
        margin-left: 10px;
        margin-right: 10px;
      }
      p:last-child {
        margin-bottom: 30px; // Abstand des Buttons zum Text
      }
    }
    @include tablet-min {
      margin: -20px -20px 0 -20px;
    }
  }
  .row.__accordeon_ {
    padding: 40px 0;
  }
  .panel + .text-center { // Abstand des unteren Buttons von den Akkordeons
    margin-top: 40px;
  }
  @include tablet-max() {
    margin-top: 20px;
    .ba-accordion .panel-heading + .panel-collapse > .panel-body {
      padding: 10px 18px;
    }
    .studienfach-film {
      margin-right: 18px;
    }
  }
  @include phone-max() {
    .text-center {
      .ba-btn {
        width: 100%;
      }
      #btn_showstudienangebote {
        width: calc(100% - 20px);
      }
    }
  }
  .ba-icon-info-after {
    cursor: pointer;
    font-size: 1.83em;
    text-decoration: none;
    color: inherit;
    padding: 0 7px 4px 7px;
    margin: 4px;
    @include phablet-min {
      position: absolute;
    }
    &:hover {
      text-decoration: none;
      color: inherit;
    }
    &:focus {
      text-decoration: none;
      color: inherit;
      outline: 2px solid $color-checkbox-highlight;
    }
  }
}
