//  *******************************************************************************************************************
//  * BAPF-DPL IMPORTS                                                                                                *
//  * enthaelt alle notwendigen imports aus der DPL fuer den Basis Skin                                               *
//  * Bootstrap Referenzen wurden manuell importiert, da die Import Pfade innerhalb der DPL nicht korrekt sind.       *
//  *******************************************************************************************************************
// font path anpassen von '../fonts' auf '..assets/fonts'
// da mit webpack resourcen standardmaeßig unter /assets ausgeliefert werden
$font-path: '../../node_modules/bapf-pattern-library/assets/fonts/';
// icon font path für Bootstrap anpassen (damit glyphicons kompiliert)
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import //  DPL Settings und Tools
        "../../../node_modules/bapf-pattern-library/source/sass/core",
        "../../../node_modules/bapf-pattern-library/source/sass/icons";

//  *******************************************************************************************************************
//       __                __
//      /\ \__            /\ \  __
//  ____\ \ ,_\  __  __   \_\ \/\_\    ____  __  __
//  /',__\\ \ \/ /\ \/\ \  /'_` \/\ \  /',__\/\ \/\ \
//  /\__, `\\ \ \_\ \ \_\ \/\ \L\ \ \ \/\__, `\ \ \_\ \
//  \/\____/ \ \__\\ \____/\ \___,_\ \_\/\____/\ \____/
//  \/___/   \/__/ \/___/  \/__,_ /\/_/\/___/  \/___/
//
//  Ab hier beginnt studisu-spezifischer App-Code
//  Der Code über diesem Kommentar ist aus dem geklonten Ursprungsprojekt
//
//  *******************************************************************************************************************

//        Neue Struktur mit STUDISU-64:
//
//        - Die Ablage der SCSS für das Skinning von eigenen Komponenten erfolgt in den jeweiligen Ordnern der Komponente, z.B.
//        ui-components/facettenfilter/studisu-filter-facet.scss
//        - Das Hinzufügen von CSS-Klassen, die für alle Komponenten übergreifend gelten, erfolgt in der SCSS trumps/studisu-common
//        [TWE] _studisu-settings.scss ergänzt für übergreifende Defintion von Layout Parametern in studisu.
//                --> Wichtig die Settings eine Ebene Höher als die Komponenten selbst zu importieren, falls eine Komponente eine andere
//                    überschreiben muss. So ist der Zugriff auf die Component Parameter ohne import schwierigkeiten möglich

// color-blue ist erst in der DPL 2.x definiert und wird daher hier von uns selbst definiert.
$color-blue: #4A6177;

@import //  STUDISU SASS
        //      import der settings
        "studisu-settings.scss",

        //      Generics
        "3-generic/module",

        //      import ui components
        "../ui-components/inputrange/studisu-range-slider",
        "../ui-components/facettenfilter/studisu-filter-facet",
        "../ui-components/inputrange/studisu-range-slider",
        "../ui-components/tagcloud/studisu-tagcloud",
        "../ui-components/checkbox/studisu-checkbox",
        "../ui-components/collapsable/studisu-collapsable",
        "../ui-components/modaldialog/modaldialog.component",
        "../ui-components/back/back.component",
        "../ui-components/load-spinner/load-spinner",
        "../ui-components/detailpager/studisu-detail-pager",
        "../ui-components/navtabbar/studisu-navtabbar",
        "../ui-components/signet/studisu-signet",

        //      Main Components
        "../main/suche/form/studisu-input-suche",
        "../main/suche/result/ergebnisliste/studisu-studienangebot",
        "../main/suche/result/ergebnisliste/studisu-suchergebnisse",
"../main/suche/facettes/regionen-facette",
        "../main/suche/facettes/reset-all-facettes",
        "../main/suche/facettes/suche-facettes",
        "../main/studienangebotinfo/studisu-studienangebotinfo",
        "../main/studienangebotinfo/_studisu-infoblock",
        "../main/studienfeldinfo/studisu-studienfeldinfo",
        "../main/studienfelder/studisu-studienfelder",
        "../main/header/studisu-header",
        "../main/detailseitenheader/studisu-detailseitenheader",
        "../main/stoeberwelten/studisu-stoeberwelten",

        //      Trumps
        "trumps/studisu-common",
        "trumps/studisu-print";
