<footer class="ba-footer" role="contentinfo">
  <div class="row">
    <div class="col-md-12">
      <ul class="ba-footer-lastline">
        <li>
          <span class="text-uppercase" data-fbz="Footer_Text_Copyright">© Bundesagentur für Arbeit</span>
        </li>
        <li>
          <a href="{{conf.baseUrlContent}}&#x2F;impressum" data-fbz="Footer_Link_Impressum" title="Zur Information über den Herausgeber dieses Internetangebots" class="text-uppercase">Impressum</a>
        </li>
        <li>
          <a href="{{conf.baseUrlContent}}&#x2F;hilfe" data-fbz="Footer_Link_Information_Hilfe" title="Zur Hilfe-Seite dieses Internetangebots" class="text-uppercase">Information &amp; Hilfe</a>
        </li>
        <li>
          <a href="{{conf.baseUrlContent}}&#x2F;datenschutz" data-fbz="Footer_Datenschutz_Link" title="" class="text-uppercase">Datenschutz</a>
        </li>
        <li>
          <a href="{{conf.baseUrlContent}}&#x2F;rechtliche-hinweise" data-fbz="Footer_Rechtliche_Hinweise_Link" title="" class="text-uppercase">Rechtliche Hinweise</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- v3 -->
