@mixin hide-element {
  visibility: hidden;
  display: none;
}

/* MOBILE VIEW */
@include tablet-max() {
  .studisu-facetten-desktop {
    @include hide-element;
  }

  .selected {
    color: $color-red;
  }

  .col-md-12 {
    padding: 0;
  }

  .ba-filterfacet {
    border: none;
  }

  .ba-filterfacet-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.33333rem;
    padding: 0 1.33333rem;
    flex-direction: row;
  }

  .studisu-umkreis-content {
    padding: 0.66667rem 1.33333rem 0 1.33333rem;
    margin-bottom: 0.85rem;
  }

  .ba-filterfacet-content .ba-input-checkbox, .ba-filterfacet-content .ba-input-radio {
    height: 3.33333rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-grey-lightest;
    padding: 0 1.33333rem;
    margin: 0;
  }
}

/* DESKTOP VIEW */
@include desktop-min() {
  .studisu-facetten-desktop {
    visibility: visible;
    display: block;
  }

  .studisu-facetten-mobile {
    @include hide-element;
  }
}

.ba-filterfacet-top-remove {
  float: right;
  margin: 2px -5px;
  border: 0;
  background-color: transparent;
  font-size: 1.25rem;
}

.ba-filterfacet-top-headline.ba-icon::before {
  position: absolute;
  top: 20px;
  left: 18px;
  font-size: 2.2rem;
}

.ba-filterfacet .plus {
  color: $color-red;
}

.ba-filterfacet-content {
  studisu-checkbox {
    margin-left: 4px;
  }
}

.ba-filterfacet-info {
  display: inline-block;
  margin-left: 0.3rem;
  border: 0;
  background-color: transparent;
  &.ba-icon-info-after {
    font-size: 1.3rem;
  }
}

