.ba-icon.studisu-suche-ort {
  position: relative;
  input {
    padding-left: 40px;
    padding-right: 5px;
  }
  &:before {
    color: $color-red;
    position: absolute;
    font-size: 2.2rem;
    z-index: 1;
    left: 5px;
    margin-top: 0.55rem;
//    line-height: calc-rem($text-input-height);
  }
}

.ba-icon.studisu-suche-ort.disabledStyleClass {
  opacity: 0.5;
}

.ba-btn.ba-btn-primary.ba-btn-icon.ba-icon-search-before:before{
    font-size: 1.5em;
}

.ba-icon.studisu-suche-ort input:disabled {
  background-color: white;
}

.ba-icon.studisu-suche-studienfach {
  position: relative;
  input {
    padding-left: 46px;
    padding-right: 5px;
  }
  &:before {
    color: $color-red;
    position: absolute;
    z-index: 1;
    left: 7px;
    margin-top: 0.55rem;
    font-size: 2.2rem;
  }
}

.ba-icon.studisu-studienbereich-aendern {
  position: relative;
  margin-top: 3px;
  &:before {
    @include icon('arrow-left', 15px);
    z-index: 1;
    padding-right: 10px;
    margin-top: -3px;
    text-decoration: none;
    }
}

ul.dropdown-menu.studisu-autocomplete-menu {
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(18rem + 2px);
  padding: 0rem;
  margin: 0rem;

  li {
    //  TODO font
    padding: 0.6rem 0.8rem;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid $color-grey-lighter;
    &:hover,a:hover{
      background-color: $color-transparent;
      color: inherit;
    }
    &.selected{
      background-color: $color-grey-light;
      a{
        color: $color-red-dark  !important;
      }
    }
  }
  li:first-child {
    border: none;
  }
}

ba-studisu-suche-form {
  @include tablet-max() {
    .studisu-searchbar {
      margin-top: 20px;
    }
  }
  .ba-btn {
    padding-left: 0;
    padding-right: 0;
    min-width: auto;
    width: 13.33333rem;
    max-width: 100%;
    @include tablet-max() {
      width: 100%;
    }
  }
}

//	bis 479px
@include phablet-max() {
  nav {
    padding-top: 0.625em;
    padding-bottom: 1em;
  }

  #suche-button.text-center{
    padding-top: 1em;
  }
}
