.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.studisu-input-wrapper {
  position: relative;
  input {
    width: 100%;
    display: inline-block;
    position: relative;
    flex-grow: 6;
  }
  padding-bottom: 20px;
}

input[type="text"] {
  color: $color-blue-darkest;
  padding: 0 5px;
}

// alt: aus 3-generic
*, :after, :before {
  box-sizing: border-box;
}

.ba-scroll-to-top {
  position: fixed;
  cursor: pointer;
}

// Transparenter Button (verwendet z.B. für externen Zusatz-Link bei den Studienangebot-Details)
.studisu-btn-secondary {
  @extend .ba-btn-secondary;
  background-color: transparent;
  color: black;
  font-size: 12px;
}

.row.__header_ {
  margin-right: -20px;
  margin-left: -20px;
}


