//  *******************************************************************************************************************
//     _             _ _                             _       _
//    | |           | (_)                           (_)     | |
// ___| |_ _   _  __| |_ ___ _   _ ______ _ __  _ __ _ _ __ | |_
/// __| __| | | |/ _` | / __| | | |______| '_ \| '__| | '_ \| __|
//\__ \ |_| |_| | (_| | \__ \ |_| |      | |_) | |  | | | | | |_
//|___/\__|\__,_|\__,_|_|___/\__,_|      | .__/|_|  |_|_| |_|\__|
//                                       | |
//                                       |_|
//  print style - baby
//  CSS Overrides (trumps) für Druckansicht Styles.
//  Definiert außerdem 2 CSS-Styles, die überall verwendet werden können, um ui-elemente für Print auszublenden (print-hide)
//  oder ui-elemente nur in Druckansicht anzeigen zu lassen (print-only)
//  *******************************************************************************************************************

// nochmal definiert, weil hide-element
// mixin nicht zugreifbar aus diesem Kontext
@mixin hide-me {
  visibility: hidden;
  display: none;
}

// sicherstellen, dass im normalen screen mode, dass print-only style alles versteckt
@media screen {
  .print-only{
    @include hide-me;
  }
}

// hier sind print-spezifische Styles
@media print {
  @mixin print-col-md-4{
    width: 33%;
  }

  @mixin print-col-md-8{
    width: 66%;
  }

  @mixin print-col-md-6{
    width: 50%;
  }

  @mixin print-col-lg-8{
    width: 66%;
  }
  @mixin print-col-lg-4{
    width: 33%;
  }
  //special style - show print only
  .print-only{
    display: block;
    visibility: visible;
  }
  //special style - hide on print
  .print-hide{
    @include hide-me;
  }

  .panel-open{
    margin-bottom: 2rem;
  }

  //STUDISU-248 Suchergebnisseite anpassen
  //trumps for print style
  .print-only.ort-header{
    margin-top: 2rem;
  }
  .filterfacet-header-print{
    font-size: smaller;
  }

  .ba-btn {
    @include hide-me;
  }
  .studisu-input-wrapper {
    nav, .studisu-suche-studienfach, .studisu-suche-studienfach *, .studisu-suche-ort {
      @include hide-me;
    }
  }
  //facetten
  .studisu-facetten-desktop {
    @include hide-me;
  }
  .studisu-facetten-mobile {
    @include hide-me;
  }
  .studisu-facette-print {
    width: 25%;
    float: left;
  }

  .ba-input-checkbox-text-print{
    font-weight: normal;
  }

  //trumps for studienangebot component
  ._studienangebot_{
    //make info (Schwerpunkte) to md-8
    .col-lg-8{
      float: left;
      @include print-col-md-8;
    }
    //make info right (anbieter, studienort, bundesland) to md-4
    .col-lg-12{
      float: left;
      @include print-col-md-4;
    }
  }

  //trumps for content-bloecke auf detailansicht
  .studisu-content-block {
    .col-md-4{
      float: left;
      @include print-col-md-4;
    }
    .col-md-8{
      float: left;
      @include print-col-md-8;
    }
  }
  //trumps for studienanbieter und studienort auf detailansicht
  div.studisu-anbieter-row {
    .col-md-6{
      float: left;
      @include print-col-md-6;
    }
  }
  div._studienangebot_tags.col-lg-8 {
    @include print-col-lg-8;
  }
  div._studienangebot_linktags.col-lg-4 {
    @include print-col-lg-4;
  }

  ._studiensuche-ergebnis_ {
    .__liste_ {
      .weitere-angebote-print {
        border: solid 3px black;
        text-align: center;
        padding: 1rem;
      }
    }
  }

  @mixin studienangebote-count-print {
    .studienangebote-count-print {
      @include print-col-md-4;
      display: inline-block;
      border: solid 3px black;
      text-align: center;
      padding: 1rem;
      width:50%;
    }
  }

  div.studisu-content-studienfeldinfo {
    .text-center {
      text-align: center;
      margin-top:-3rem;
      @include studienangebote-count-print;
    }
    .text-right {
      text-align: right;
      @include studienangebote-count-print;
    }
  }
}
