@charset "UTF-8";

$eintrag-breakpoint: $screen-sm-max + 1;

// Definiert die Headergrafik für die Studienfelder-Übersichtsseite
ba-studisu-studienfelder {
  ba-studisu-header {
    .studisu-header-background {
      background-image: url("../assets/images/bg-large-header-studienfelder.jpg");
    }
  }
}

.studisu-studienfelder {

  & > .row.__header_ {
    background-color: $color-white;
    margin-top: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    @include tablet {
      margin: -20px -20px 0 -20px;
    }
    @include phablet-max {
      margin: -20px -10px 0 -10px;
    }
    @media (max-width: #{$breakpoint-phone - 1px}) { // Seltsames Verhalten durch "sub-phone" Breakpoint ausgeglichen!
      margin-top: -50px;
    }
  }

  & > .row.__auswahl_oben_ {
    margin-top: 30px;
  }

  & > .row.__accordeon_ {
    margin-bottom: 10px;
  }

  .ba-studisu-studienfeld {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px solid $color-grey-light;
    &:last-child {
      border: none;
    }
    .accordion-fix-ie-flexbug {
      position: relative;
      width: 100%;
      display: flex;
      @media (max-width: $eintrag-breakpoint) {
        flex-wrap: wrap;
      }
    }
  }
  .ba-studisu-studienfeld-auswahl {
    flex: auto;
    align-self: center;
    white-space: nowrap;
    padding: 2px 0;
    &.ba-input-checkbox {
      display: inline-block;
      margin-top: 0.3rem;
      margin-bottom: 0.3rem;
      label {
        overflow-x: hidden;
        text-overflow: ellipsis;
      }
    }
    @media (max-width: $eintrag-breakpoint) {
      position: relative;
      z-index: 2;
      min-width: calc(100% - 1.5rem - 5px);
      max-width: calc(100% - 1.5rem - 5px);
      width: calc(100% - 1.5rem - 5px);
    }
  }
  a {
    flex: 0;
    align-self: center;
    &.ba-btn {
      padding: 5px;
      margin: 0.3rem 0.5rem 0.3rem 0;
      vertical-align: baseline;
      i.ba-icon {
        font-size: 1rem;
        margin-right: 1.8rem;
        &::before {
          position: absolute;
          font-size: 1.3rem;
        }
      }
      @media (max-width: $eintrag-breakpoint) {
        margin: -5px 0 10px 32px;
      }
    }
    &.ba-studisu-goto {
      order: 2;
      text-align: right;
      display: block;
      width: 13rem;
      min-width: 13rem;
      margin-right: 4px;
      &:hover {
        white-space: nowrap;
        text-decoration: none;
        background: white;
        &::before {
          content: attr(hover);
          text-decoration: underline;
          font-family: "Roboto Regular", sans-serif;
        }
        &::after {
          color: $color-red;
        }
      }
      @media (max-width: $eintrag-breakpoint) {
        z-index: 2;
        position: absolute;
        right: 3px;
        top: 8px;
        order: 0;
      }
    }
  }

  .ba-accordion {
    .panel-heading + .panel-collapse > .panel-body {
      padding: 0 1rem;
    }
    .panel-heading {
      border-bottom: none;
    }
    .panel-title > a {
      padding-left: 73px;
      @include phablet-max {
        padding-left: 53px;
      }
    }
  }

  .studisu-checkbox input[type="checkbox"] + label {
    margin: 6px 0 -1px 0
  }

  .ba-studisu-studienfeld-einleitender-text {
    margin: 10px 10%;
    text-align: center;
  }

  .ba-studisu-studienfeld-selektierung-text {
    margin-top: 1.26666rem;
  }

  nav.ba-studisu-studienfeld-selektierung-text {
    margin: 1.26666rem 0;
    a {
      text-transform: uppercase;
    }
    i {
      text-decoration: underline;
      display: inline-block;
    }
    i,
    i:hover {
      text-decoration: none;
    }
    .ba-icon:after {
      margin: -3px 4px 0 4px;
      color: $color-red;
    }
    @include phablet-max {
      padding: 0;
    }
  }

  .studisu-studienbereich-icon {
    background-repeat: no-repeat;
    width: 61px;
    height: 61px;
    position: absolute;
    margin: -20px 0 0 -72px;
    background-size: contain;
    @include phablet-max {
      width: 41px;
      height: 41px;
      margin: -10px 0 0 -52px;
    }
  }
  .studisu-studienbereich-icon-HA21 {
    background-image: url("../assets/images/HA21.png");
  }
  .studisu-studienbereich-icon-HA23 {
    background-image: url("../assets/images/HA23.png");
  }
  .studisu-studienbereich-icon-HA25 {
    background-image: url("../assets/images/HA25.png");
  }
  .studisu-studienbereich-icon-HA27 {
    background-image: url("../assets/images/HA27.png");
  }
  .studisu-studienbereich-icon-HA29 {
    background-image: url("../assets/images/HA29.png");
  }
  .studisu-studienbereich-icon-HA31 {
    background-image: url("../assets/images/HA31.png");
  }
  .studisu-studienbereich-icon-HA33 {
    background-image: url("../assets/images/HA33.png");
  }
  .studisu-studienbereich-icon-HA35 {
    background-image: url("../assets/images/HA35.png");
  }
  .studisu-studienbereich-icon-HA37 {
    background-image: url("../assets/images/HA37.png");
  }
  @include tablet-max {
    margin-top: 20px;
  }
}
