<ba-studisu-header [isLarge]="true" [isLight]="true" class="print-hide">
  <ba-studisu-back></ba-studisu-back>
  <h1 #ueberschrift aria-live="polite" tabindex="-1" id="ueberschrift">{{ueberschriftMessage}}</h1>
</ba-studisu-header>
<div>
  <div class="studisu-studienfelder">

    <!-- ------------------- start Kopfbereich ------------------- -->
    <div class="row __header_">
      <div class="col-xs-12">
        <div class="ba-studisu-studienfeld-einleitender-text">{{einleitenderText}}</div>
      </div>
    </div>

    <!-- -------------------- end Kopfbereich -------------------- -->

    <!-- --------------------- start Auswahl --------------------- -->
    <div class="row __auswahl_oben_">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1" *ngIf="studienfeldgruppen.length == 0">
        <ba-studisu-load-spinner size="33"></ba-studisu-load-spinner>
      </div>
      <div class="col-sm-12 col-lg-10 col-lg-offset-1" *ngIf="selektierteStudienfelder.length > 0">
        <div aria-hidden="true" class="pull-left ba-studisu-studienfeld-selektierung-text">
          {{label.GEWAEHLTE_STUDIENFELDER}}&nbsp;&nbsp;
        </div>
        <ba-studisu-tagcloud
          id="sf_tc_top"
          srListTitle="Gew&auml;hlte Studienfelder"
          [tagcloudListe]="selektierteStudienfelder"
          (tagcloudListeClick)="studienfelderDelegate.clickHandler($event);"
          (tagcloudListeRemove)="studienfelderDelegate.remove($event)"
          removeTemplate="{{studienfelderDelegate.removeTooltip}}"
          maxTagsVisible="10">
        </ba-studisu-tagcloud>
        <nav id="StudienangeboteAnzeigenOben" class="print-hide pull-right ba-studisu-studienfeld-selektierung-text"
             title="{{label.ALLE_STUDIENANGEBOTE_ANZEIGEN}}">
          <a routerLink="/suche" [queryParams]="urlParamService.getQueryParams()">{{label.STUDIENANGEBOTE_ANZEIGEN}}<i
            class="ba-icon ba-icon-chevron-right-after"></i></a>
        </nav>
      </div>
    </div>
    <!-- ---------------------- end Auswahl ---------------------- -->

    <!-- -------------------- start Accordion -------------------- -->
    <div class="row __accordeon_">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1">
        <div class="ba-accordion">
          <div *ngFor="let studienfeldgruppe of studienfeldgruppen; let index = index"
               class="panel studienbereich-{{studienfeldgruppe.key}}">
            <div class="panel-heading" id="accordion{{index}}-heading">
              <h2 class="panel-title">
                <a
                  [attr.aria-controls]="'accordion' + index + '-panel'"
                  [attr.aria-expanded]="isOpen(studienfeldgruppe) ? 'true' : 'false'"
                  [attr.aria-label]="getToolTipp(studienfeldgruppe)"
                  [title]="getToolTipp(studienfeldgruppe)"
                  [class]="isCheckboxSelected(studienfeldgruppe) ? '' : 'collapsed'"
                  data-toggle="collapse"
                  href="#accordion{{index}}-panel"
                  role="button"
                  id="accordion_{{studienfeldgruppe.key}}_Link"
                  (click)="toggleOpenState(studienfeldgruppe)">
                  <i
                    class="accordion-icon studisu-studienbereich-icon studisu-studienbereich-icon-{{studienfeldgruppe.icon}}"></i>
                  {{studienfeldgruppe.name}}
                </a>
              </h2>
            </div>
            <div
              [attr.aria-labelledby]="'accordion' + index + '-heading'"
              class="panel-collapse collapse {{isCheckboxSelected(studienfeldgruppe) ? 'in' : ''}}"
              id="accordion{{index}}-panel"
              role="tabpanel">
              <div class="panel-body">
                <div *ngFor="let studienfeld of studienfeldgruppe.studienfelder"
                     class="ba-studisu-studienfeld studienfeld-{{studienfeld.key}}">
                  <div class="accordion-fix-ie-flexbug">
                    <div class="ba-studisu-studienfeld-auswahl ba-input-checkbox">
                      <studisu-checkbox (change)="toggleChecked(studienfeld)"
                                        id="checkbox-studienfeld-{{studienfeld.key}}_{{index}}"
                                        [label]="studienfeld.name"
                                        [disabled]="isMaxParameterCountExceeded && !isChecked(studienfeld)"
                                        [checked]="isChecked(studienfeld)"></studisu-checkbox>
                    </div>
                    <a routerLink="/studienfeldinfo" [queryParams]="studienfeldAsParam(studienfeld)"
                       class="ba-btn ba-btn-contrast"
                       [attr.aria-label]="label.STUDIENFELD_OEFFNEN_ARIA_LABEL.replace('%name%', studienfeld.name)"
                       title="{{label.STUDIENFELD_OEFFNEN_TOOLTIP}}">
                      <i id="studienfeldoeffnen_{{studienfeld.key}}" class="ba-icon ba-icon-info"></i>{{label.STUDIENFELD_OEFFNEN}}
                    </a>
                    <a routerLink="/suche" [queryParams]="studienfeldAsParam(studienfeld)"
                       id="direkteinsprung_{{studienfeld.key}}"
                       [attr.hover]="label.ZU_DEN_STUDIENANGEBOTEN"
                       class="print-hide ba-studisu-goto ba-icon ba-icon-chevron-right-after"
                       title="{{label.ZU_DEN_STUDIENANGEBOTEN_IM_BEREICH + studienfeld.name}}"
                       [attr.aria-label]="label.ZU_DEN_STUDIENANGEBOTEN_IM_BEREICH + studienfeld.name">
                    </a>
                  </div>
                </div>
                <div *ngIf="selektierteStudienfelder.length > 0">
                  <nav id="StudienangeboteAnzeigen"
                       class="print-hide col pull-right ba-studisu-studienfeld-selektierung-text"
                       title="{{label.ALLE_STUDIENANGEBOTE_ANZEIGEN}}">
                    <a routerLink="/suche" [queryParams]="urlParamService.getQueryParams()">{{label.STUDIENANGEBOTE_ANZEIGEN}}<i
                      class="ba-icon ba-icon-chevron-right-after"></i></a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------- end Accordion --------------------- -->

    <!-- --------------------- start Auswahl --------------------- -->
    <div class="row">
      <div class="col-sm-12 col-lg-10 col-lg-offset-1" *ngIf="selektierteStudienfelder.length > 0">
        <div aria-hidden="true" class="pull-left ba-studisu-studienfeld-selektierung-text">
          {{label.GEWAEHLTE_STUDIENFELDER}}&nbsp;&nbsp;
        </div>
        <ba-studisu-tagcloud
          id="sf_tc_bot"
          srListTitle="Gew&auml;hlte Studienfelder"
          [(tagcloudListe)]="selektierteStudienfelder"
          (tagcloudListeClick)="studienfelderDelegate.clickHandler($event);"
          (tagcloudListeRemove)="studienfelderDelegate.remove($event)"
          removeTemplate="{{studienfelderDelegate.removeTooltip}}"
          maxTagsVisible="10">
        </ba-studisu-tagcloud>
        <nav id="StudienangeboteAnzeigenUnten" class="print-hide pull-right ba-studisu-studienfeld-selektierung-text"
             title="{{label.ALLE_STUDIENANGEBOTE_ANZEIGEN}}">
          <a routerLink="/suche" [queryParams]="urlParamService.getQueryParams()">{{label.STUDIENANGEBOTE_ANZEIGEN}}<i
            class="ba-icon ba-icon-chevron-right-after"></i></a>
        </nav>
      </div>
    </div>
    <!-- ---------------------- end Auswahl ---------------------- -->
  </div>
</div>
