<div class="modal fade error-modal" #modalDialog id="modal-dialog" tabindex="-1"
  role="dialog" aria-labelledby="meinModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content text-center">

        <div class="modal-header">
          <button type="button" aria-hidden="true" class="close ba-modal-close" role="button" data-dismiss="modal"
                  attr.aria-label="{{messages.ABBRECHEN}}"></button>
          <i *ngIf="errorModal" class="ba-icon ba-studisu-big-red-icon ba-icon-error" style="position:relative;"></i>
          <h1 aria-level="2" *ngIf="modalData && modalData.title" id="meinModalTitle" class="modal-title" [innerHtml]="modalData.title"></h1>
          <h2 aria-level="3" *ngIf="modalData && modalData.subtitle" class="modal-subtitle" [innerHtml]="modalData.subtitle"></h2>
        </div>

        <div class="modal-body">
          <p *ngIf="modalData?.text" [innerHtml]="modalData?.text"></p>
        </div>

        <div class="modal-footer text-center">
          <button type="button" (click)="reloadPage()" class="ba-btn ba-btn-primary" attr.aria-label="{{messages.ERNEUT_VERSUCHEN}}">{{messages.ERNEUT_VERSUCHEN}}</button>
          <button type="button" data-dismiss="modal" class="ba-btn ba-btn-secondary" attr.aria-label="{{messages.ABBRECHEN}}">{{messages.ABBRECHEN}}</button>
        </div>

      </div>
  </div>
</div>
