$back-width-phone: 100px; // Breite des Back-Buttons < 480px
$back-width-phablet: 150px; // Breite des Back-Buttons >= 480px
$background-default: $color-grey-lighter;

ba-studisu-detail-pager {

  .row {
    overflow-x: hidden;
    background-color: $color-grey-light;

    @include tablet() { // 768 - 1023 px
      margin: 0 -20px;
    }
  }

  button {
    margin-right: 2px;
    background-color: white;
    border: none;
    float: left;
    height: 50px;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
    &:not(:disabled) {
      &:hover {
        color: $color-red;
      }
      i {
        &.left {
          margin-right: 8px;
        }
        &.right {
          margin-left: 8px;
        }
      }
      .number {
        color: $color-red;
      }
    }
    &:disabled {
      color: $color-grey;
    }
    i {
      position: relative;
      @include tablet-min() {
        top: -2px;
      }
      @include phablet-min() {
      }
      top: -1px;
    }
  }

  .__back_ {
    width: $back-width-phablet;
  }

  .__prev_ {
    width: calc(50% - #{$back-width-phablet / 2 + 2px});
  }

  .__next_ {
    width: calc(50% - #{$back-width-phablet / 2 + 2px});
  }

  @include phone-max() {
    .__back_ {
      width: $back-width-phone;
    }
    .__prev_ {
      width: calc(50% - #{$back-width-phone / 2 + 2px});
    }
    .__next_ {
      width: calc(50% - #{$back-width-phone / 2 + 2px});
    }
  }

  .__studienangebotpagerbezeichnung_ {
    color: $color-red;
    background-color: $color-white;
    width: 100%;
    margin: 0px;
    padding: 10px 20px;
  }

  nav {
    padding: 0 !important;
    .ba-buttons {
      height: 52px; // sollte nicht erforderlich sein, ist es auf einmal aber. Keine Ahnung warum. :-(
    }
    &.affix {
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999 !important;
      border-top: none;
      padding-left: 20px !important;
      padding-right: 20px !important;
      @include tablet-max() {
        padding-left: 10px !important;
        padding-right: 10px !important;
      }
      .ba-buttons {
        border-bottom: 0.063em solid $color-grey-lighter;
        border-bottom-width: 2px;
      }
      .__studienangebotpagerbezeichnung_ {
        @include phablet-min() {
          position: fixed;
          box-shadow: 0 3px 3px $color-grey-light;
        }
        @include tablet-min() {
          display: none;
        }
      }
    }

    &.unfix {
      .__studienangebotpagerbezeichnung_ {
        display: none;
      }
      @include desktop-min() {
        font-size: small;
        margin-top: -3rem;
        margin-right: 2rem;
        width: calc(6 * #{$back-width-phone});
        float: right;
        border: $color-grey-lighter 2px solid;
        border-radius: 0.3rem;
        .row {
          margin-left: 10px;
          margin-right: 10px;
        }
        .ba-buttons {
          border: none;
          height: 100%;
        }
      }
      @include tablet-max() {
        margin-top: -4rem;
        margin-right: 0;
        width: 100%;
        float: none;
        border: none;
        .row {
          margin-left: -10px;
          margin-right: -10px;
        }
      }
      @include tablet-max() {
        margin-top: 0rem;
      }
    }
  }
}
