<nav #affixMe class="unfix">
  <div class="row __detailpager_  print-hide">
    <div #navID class="ba-buttons">
      <button class="__back_" id="back_button" (click)="onbuttonclicked(backClicked)"
              [disabled]="backClicked?.observers.length == 0"
              title="Zurück zur Suche">
        <i class="ba-icon ba-icon-chevron-left-double left"></i>
        <span>zurück<span class="sr-only"> zur Suche</span></span>
      </button>

      <button class="__prev_" id="prev_angebot" (click)="onbuttonclicked(prevClicked)"
              [disabled]="prevClicked?.observers.length == 0 || numPrev == 0"
              [title]="(prevClicked?.observers.length == 0 || numPrev == 0) ? 'Keine vorherigen Ergebnisse' : 'Zum vorherigen Ergebnis'">
        <i class="ba-icon ba-icon-chevron-left left"></i>
        <span>
        <span *ngIf="numPrev==0">
          <span aria-hidden>0 vorherige</span>
          <span class="sr-only">keine vorherigen Angebote</span>
        </span>
        <span *ngIf="numPrev==1">
          <span aria-hidden><span class="number">1</span> vorheriges</span>
          <span class="sr-only">ein vorheriges Angebot</span>
        </span>
        <span *ngIf="numPrev > 1 ">
          <span aria-hidden><span class="number">{{numPrev}}</span> vorherige</span>
          <span class="sr-only">{{numPrev}} vorherige Angebote</span>
        </span>
      </span>
      </button>

      <button class="__next_" id="next_angebot" (click)="onbuttonclicked(nextClicked)"
              [disabled]="nextClicked?.observers.length == 0 || numNext == 0"
              [title]="(nextClicked?.observers.length == 0 || numNext == 0) ? 'Keine weiteren Ergebnisse' : 'Zum nächsten Ergebnis'">
      <span>
        <span *ngIf="numNext==0">
          <span aria-hidden>0 weitere</span>
          <span class="sr-only">keine weiteren Angebote</span>
        </span>
        <span *ngIf="numNext==1">
          <span aria-hidden><span class="number">1</span> weiteres</span>
          <span class="sr-only">ein weiteres Angebot</span>
        </span>
        <span *ngIf="numNext > 1">
          <span aria-hidden><span class="number">{{numNext}}</span> weitere</span>
          <span class="sr-only">{{numNext}} weitere Angebote</span>
        </span>
      </span>
        <i class="ba-icon ba-icon-chevron-right-after right"></i>
      </button>
    </div>
    <h2 #studienangebotPagerTitle id="studienangebotPagerTitle" class="__studienangebotpagerbezeichnung_">
      {{studiangebotTitle}}</h2>
  </div>
</nav>
<!--div #trick17 style="display:none;"></div-->
