*,
 :after,
 :before {
    box-sizing: border-box;
}

body,
html {
    width: auto;
}

//
// Mixin für die "Pseudo-Tags", die in der Ergebnisliste
// und auf der Infoseite der Studienangebote im Aussehen
// eine Tag-Cloud mit Mini-Tags eingebunden sind.
//
@mixin pseudo-tags() {
    line-height: 40px;
    span {
        border: 1px solid $color-grey-darker;
        border-radius: 3px;
        background-color: $color-grey-light;
        max-width: 100%;
        display: inline-block;
        margin-right: 10px;
        padding: 0 6px;
        height: 24px;
        line-height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &:before {
            font-size: 1.2rem;
            margin-right: 5px;
            margin-bottom: 0.34rem; // center icon
        }
    }
}
