<section *ngIf="linkListe" id="linkbarInformationFooter" class="ba-cardrow">
  <div *ngFor="let item of linkListe; index as i;" class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <article class="ba-card">
      <h2>{{item.header}}</h2>
      <div class="ba-copytext">
        <p>{{item.text}}</p>
      </div>
      <footer>
        <a id="linkbarInformationFooterLink{{i}}" class="ba-btn ba-btn-contrast" href="{{item.buttonUrl}}"
           title="{{item.buttonTitle}}" target="{{item.buttonTarget}}">{{item.buttonText}}</a>
      </footer>
    </article>
  </div>
</section>
